{# templates/pages/error.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block body %}
    <div class="text-center mb-4">
        <h1>Что-то пошло не так :( </h1>
        <p class="lead">Страницы по этому адресу нет.</p>
    </div> 
{% endblock %}
