{# templates/pages/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Главная - SRD Запчасти{% endblock %}

{% block body %}
    <div class="text-center mb-4">
        <h1>Автозапчасти для КамАЗ, МАЗ, Урал</h1>
        <p class="lead">Продажа, установка и ремонт автономных отопителей и подогревателей</p>
    </div>
{% endblock %}
