{# templates/layout/footer.html.twig #}
<footer class="srd-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-3">
                <h5>Компания</h5>
                <ul class="list-unstyled small">
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Карьера</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5>Покупателям</h5>
                <ul class="list-unstyled small">
                    <li><a href="#">Доставка</a></li>
                    <li><a href="#">Гарантия</a></li>
                    <li><a href="#">Оплата</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5>Услуги</h5>
                <ul class="list-unstyled small">
                    <li><a href="#">Ремонт отопителей</a></li>
                    <li><a href="#">Установка автономок</a></li>
                    <li><a href="#">Заявка на подбор</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-3">
                <h5>Контакты</h5>
                <p class="small mb-1">📞 +7 (905) 940-42-40</p>
                <div class="d-flex gap-2">
                    <a href="#"><img src="assets/icons/WhatsApp.svg" alt="VK" height="24"></a>
                    <a href="#"><img src="assets/icons/WhatsApp.svg" alt="Telegram" height="24"></a>
                    <a href="#"><img src="assets/icons/WhatsApp.svg" alt="WhatsApp" height="24"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
