{# templates/modules/banner.html.twig #}

<div class="row g-3">
    <div class="col-md-6">
        <img src="/img/banner1.jpg" class="img-fluid rounded shadow-sm" alt="Баннер 1">
    </div>
    <div class="col-md-6">
        <img src="/img/banner2.jpg" class="img-fluid rounded shadow-sm" alt="Баннер 2">
    </div>
</div>